.card {
  padding: 2.31rem 2.25rem 2.75rem 2.25rem;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 1.69rem 0 1.19rem 0;
}

.description {
  text-align: center;
  margin-bottom: 4.06rem;
  color: var(--light-900, #c3c1c7);
  opacity: 0.5;
}
