.profileInfo {
  display: flex;
  gap: 8px;
  align-items: center;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .email {
      color: var(--color-dark-100);
    }
  }

  .avatar {
    width: 36px;
    height: 36px;
  }
}
