.card {
  max-width: 26.3rem;
  padding: 2.06rem 2.25rem 3.75rem 2.25rem;
}

.title {
  text-align: center;
}

.textField {
  margin: 3.19rem 0 1.19rem 0;
}

.info {
  color: var(--light-900, #c3c1c7);
  opacity: 0.5;
  margin-bottom: 2.56rem;
}
