.card {
  max-width: 26.3rem;
  padding: 2.06rem 2.25rem 1.81rem 2.25rem;
}

.title {
  text-align: center;
}

.textField {
  margin: 3.19rem 0 1.19rem 0;
}

.info {
  color: var(--light-900, #c3c1c7);
  opacity: 0.5;
  margin-bottom: 4.06rem;
}

.rememberPassword {
  margin: 1.25rem 0 0.69rem 0;
  color: var(--light-900, #c3c1c7);
  text-align: center;
}

.loginIn {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
